<a href="https://colab.research.google.com/github/parth-github/pandas/blob/master/Create_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrame

Different ways to create a Pandas Dataframe from the lists:

- Create Dataframe from List using Constructer
- Create DataFrame from List using Dictionary
- Create DataFrame from list using zip()
- Create DataFrame from list by changing data type
- Create DataFrame from list using multi-dimensional list
- Create DataFrame from List with index and column names

In [1]:
import pandas as pd

In [3]:
# @title Create Dataframe from List using Constructer
#list of strings
lst = ['Geeks', 'For', 'Geeks', 'is',
            'portal', 'for', 'Geeks']

# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [4]:
# @title Create DataFrame from List using Dictionary

# list of name, degree, score
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]

# dictionary of lists
dict = {'name': nme, 'degree': deg, 'score': scr}

df = pd.DataFrame(dict)

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [5]:
# @title Create DataFrame from list using zip()

# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

# list of int
lst2 = [11, 22, 33, 44, 55, 66, 77]

# Calling DataFrame constructor after zipping
# both lists, with columns specified
df = pd.DataFrame(list(zip(lst, lst2)),
			columns =['Name', 'val'])
print(df)

     Name  val
0   Geeks   11
1     For   22
2   Geeks   33
3      is   44
4  portal   55
5     for   66
6   Geeks   77

In [7]:
# @title Create DataFrame from list by changing data type

# List1
lst = [['tom', 'reacher', 25], ['krish', 'pete', 30],
	['nick', 'wilson', 26], ['juli', 'williams', 22]]

df = pd.DataFrame(lst, columns =['FName', 'LName', 'Age'], dtype = float)
print(df)
df.info()

   FName     LName   Age
0    tom   reacher  25.0
1  krish      pete  30.0
2   nick    wilson  26.0
3   juli  williams  22.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FName   4 non-null      object
 1   LName   4 non-null      object
 2   Age     4 non-null      float64
dtypes: float64(1), object(2)
memory usage: 224.0+ bytes

<ipython-input-7-439ccf2b9b66>:7: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(lst, columns =['FName', 'LName', 'Age'], dtype = float)

In [ ]:
# @title Create DataFrame from list using multi-dimensional list

# List1
lst = [['tom', 25], ['krish', 30],
       ['nick', 26], ['juli', 22]]

df = pd.DataFrame(lst, columns =['Name', 'Age'])

In [8]:
# @title Create DataFrame from List with index and column names

# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

# Calling DataFrame constructor on list
# with indices and columns specified
df = pd.DataFrame(lst, index =['a', 'b', 'c', 'd', 'e', 'f', 'g'],
											columns =['Names'])
print(df)

    Names
a   Geeks
b     For
c   Geeks
d      is
e  portal
f     for
g   Geeks